<p id="notice"><%= notice %></p>


<h1 class="title out-title">Emprestimos</h1>



<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Livro</th>
      <th>Data de Emprestimo</th>
      <th>Data de Devolucao</th>
      <th colspan="4"> Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.user.matricula %></td>
        <td><%= emprestimo.livro.titulo %></td>
        <td><%= emprestimo.dataemprestimo %></td>
        <% if emprestimo.datadevolucao.blank? %>
        <td><%= "Não Devolvido" %></td>
        <% else %>
        <td><%= emprestimo.datadevolucao %></td>
        <% end %>
        <td><%= link_to 'Detalhar Empréstimo', emprestimo %></td>
        <td><%= link_to 'Editar', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Devolução', devolucao_url(emprestimo.id) %></td>
        <td><%= link_to 'Destroy', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Ativos', ativos_path, class: "button is-link"%>
<%= link_to 'Atrasados', atrasados_path, class: "button is-link"%>

