<p id="notice"><%= notice %></p>
  <h1 class="title out-title">Livros</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Codigo</th>
      <th>Autor</th>
      <th>Especial</th>
       <% if current_user.admin?%>
      <th colspan="4">Opções</th>
       <%end%>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.codigo %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.especial %></td>
        <% if current_user.admin?%>
        <td><%= link_to 'Detalhar Livro', livro %></td>
        <td><%= link_to 'Editar Livro', edit_livro_path(livro) %></td>
        <td><%= link_to 'Apagar Livro', livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

