<!DOCTYPE html>
<html>
  <head>
    <title>GABI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in?%>
   <aside class="menu">
        <%= link_to "GABI", root_path, class: "menu-label"%>
        <ul class="menu-list">
    <li>
        <%= link_to "Livros", livros_path %></li>
    <li>
        <%= link_to "Emprestimos", emprestimos_path %>
    </li>
        </ul>
        </aside>
    
  </nav>
    <section class="section main">
      <%= yield %>
    </section>
  <% else%>

  <section class="section login">
      <%= yield %>
  </section>
  
  <% end%>  
  </body>
</html>
